
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
  /* background: #c6d136;           */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
